body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.6s, color 0.6s;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #83b2e2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    transition: 0.6s, color 0.6s;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #49616d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.6s, color 0.6s, transform 0.6s;
}

nav ul li a:hover {
    background-color: #52a2d8;
    transform: scale(1.05);
}

main {
    padding: 2rem 0;
}

.block {
    background-color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.6s, box-shadow 0.6s, color 0.6s;
}

.experiences {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.work_experiences {
    background: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    min-width: 300px;
    text-align: center;
    transition: background-color 0.6s, border-color 0.6s;
}

.work_experiences:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.work_experiences h5 {
    margin-top: 0;
}

.work_experiences h3 {
    margin-top: 0;
}

.work_experiences h2 {
    margin-top: 0;
}

footer {
    background: #83b2e2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    transition: 0.6s, color 0.6s;
}

.company {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.company h2 {
    margin: 0; /* Ensure there is no margin around the company name */
    line-height: 1; /* Adjust line height if needed */
}

.company-logo {
    width: 35px;
    height: auto;
    vertical-align: middle;
}

/* For the Certificates Portion */
.corporation {
    margin-bottom: 1.5rem;
}

.corp-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.corp-logo {
    width: 50px;
    height: auto;
}

.certificates {
    margin-left: 60px; /* Adjust based on logo width to align with the text */
}

/* For Socials */

.social-logo {
    width: 90px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3s;
}

.social-links {
    margin-top: 1rem;
}

.social-icons {
    display: inline-flex;
    gap: 1rem;
}

.social-logo:hover {
    transform: scale(1.1);
}


button {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Dark Mode button */

button#dark-mode-toggle {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: background-color 0.6s;
}

body.dark-mode header {
    background: #222;
    color: #fff;
    transition: background-color 0.6s;
}

body.dark-mode footer {
    background: #222;
    color: #fff;
    transition: background-color 0.6s;
}

body.dark-mode button#dark-mode-toggle {
    background-color: #884343;
    color: #ffffff;
}

button#dark-mode-toggle:hover {
    background-color: #777;
}

body.dark-mode .block {
    background-color: #463c3c;
    color: #f9f9f9;
    transition: background-color 0.6s;
}

body.dark-mode .work_experiences {
    background: #6e6969;
    border-color: #f2ebeb;
    transition: background-color 0.6s;
}

body.dark-mode nav ul li a {
    background-color: #666;
    color: #fff;
}

nav ul li a:hover {
    background-color: #007BFF;
    transform: scale(1.05);
}

body.dark-mode nav ul li a:hover {
    background-color: #0056b3;
}

/* Back to Top */
