/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: #83b2e2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    transition: background-color 0.6s, color 0.6s;
}

body.dark-mode header {
    background: #222;
    color: #fff;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #49616d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.6s, color 0.6s, transform 0.6s;
}

nav ul li a:hover {
    background-color: #52a2d8;
    transform: scale(1.05);
}

body.dark-mode nav ul li a {
    background-color: #666;
    color: #fff;
}

body.dark-mode nav ul li a:hover {
    background-color: #0056b3;
}

/* Main Content Styles */
main {
    padding: 2rem 0;
}

/* Block Styles */
.block {
    background-color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.6s, box-shadow 0.6s, color 0.6s;
}

body.dark-mode .block {
    background-color: #655959;
    color: #f9f9f9;
    transition: background-color 0.6s, color 0.6s;
}

/* Work Experiences Styles */
.work-description ul li {
    text-align: left;
}

.experiences {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.work_experiences {
    background: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    min-width: 300px;
    text-align: center;
    transition: background-color 0.6s, border-color 0.6s, transform 0.6s;
}

.work_experiences:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.work_experiences h5, .work_experiences h3, .work_experiences h2 {
    margin-top: 0;
}

.job-title {
    font-size: 20px;
}

body.dark-mode .work_experiences {
    background: #6e6969;
    border-color: #f2ebeb;
}

/* Company Styles */
.company {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.company h2 {
    margin: 0;
    line-height: 1;
}

.company-logo {
    width: 35px;
    height: auto;
    vertical-align: middle;
}

/* Certificates Section */
.corporation {
    margin-bottom: 1.5rem;
}

.corp-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.corp-logo {
    width: 50px;
    height: auto;
}

.certificates-container {
    transition: background-color 0.6s;
}

body.dark-mode .certificates-container {
    background-color: #655959;
    transition: background-color 0.6s
}

.certificates {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, background-color 0.6s;
    margin-left: 60px;
    background-color: inherit; /* Ensures it matches the surrounding background */
}

.certificates.expanded {
    max-height: 1000px; /* Set a high value to ensure it expands fully */
}

body.dark-mode .certificates {
    background-color: inherit; /* Ensures it matches the surrounding background */
}


/* Social Links */
.social-links {
    margin-top: 1rem;
}

.social-icons {
    display: inline-flex;
    gap: 1rem;
}

.social-logo {
    width: 90px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3s;
}

.social-logo:hover {
    transform: scale(1.1);
}

/* Buttons */
button {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

body.dark-mode button {
    background-color: #9b8787;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #777;
}

/* Dark Mode Toggle Button */
button#dark-mode-toggle {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: background-color 0.6s;
}

button#dark-mode-toggle:hover {
    background-color: #777;
}

body.dark-mode button#dark-mode-toggle {
    background-color: #884343;
    color: #ffffff;
}

/* Back to Top Button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    padding: 1rem;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.6s, transform 0.6s;
}

#back-to-top:hover {
    background-color: #777;
    transform: scale(1.1);
}

body.dark-mode #back-to-top {
    background-color: #e9c5c5;
    color: #000000;
}

body.dark-mode #back-to-top:hover {
    background-color: #888;
}

/* Footer Styles */
footer {
    background: #83b2e2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    transition: background-color 0.6s, color 0.6s;
}

body.dark-mode footer {
    background: #222;
    color: #fff;
}

/* Default Link Colors and Hover Animation */
a:not(.social-icons a):not(nav a) {
    color: #26528c;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

a:not(.social-icons a):not(nav a)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #3b67a0;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
}

a:not(.social-icons a):not(nav a):hover, a:not(.social-icons a):not(nav a):focus {
    color: #26528c;
}

a:not(.social-icons a):not(nav a):hover::after, a:not(.social-icons a):not(nav a):focus::after {
    transform: scaleX(1);
    transform-origin: left;
}

a:not(.social-icons a):not(nav a):visited {
    color: #26528c;
}

/* Dark Mode Link Colors and Hover Animation */
body.dark-mode a:not(.social-icons a):not(nav a) {
    color: #8ab4f8;
}

body.dark-mode a:not(.social-icons a):not(nav a)::after {
    background: #8ab4f8;
}

body.dark-mode a:not(.social-icons a):not(nav a):hover, body.dark-mode a:not(.social-icons a):not(nav a):focus {
    color: #93b2e4;
}

body.dark-mode a:not(.social-icons a):not(nav a):visited {
    color: #8ab4f8;
}

/* Dropdown Button Styles for Work Experience */
.work_experiences .dropdown-btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.work_experiences .dropdown-btn:hover {
    background-color: #555;
}

body.dark-mode .work_experiences .dropdown-btn {
    background-color: #9b8787;
    color: #fff;
}

body.dark-mode .work_experiences .dropdown-btn:hover {
    background-color: #777;
}

/* Description Styles for Work Experience */
.work_experiences .description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, background-color 0.6s;
    margin-top: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
}

body.dark-mode .work_experiences .description {
    background-color: #6e6969;
}

.work_experiences .description.expanded {
    max-height: 500px; /* Adjust as needed */
}

/* Dropdown Button Styles for Certificates */
.certificates .dropdown-btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.certificates .dropdown-btn:hover {
    background-color: #555;
}

body.dark-mode .certificates .dropdown-btn {
    background-color: #9b8787;
    color: #fff;
}

body.dark-mode .certificates .dropdown-btn:hover {
    background-color: #777;
}

/* Description Styles for Certificates */
.certificates .description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, background-color 0.6s;
    margin-top: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
}

body.dark-mode .certificates .description {
    background-color: #6e6969;
}

.certificates .description.expanded {
    max-height: 500px; /* Adjust as needed */
}

/* Dropdown Button Styles for Work Experience */
.work-dropdown-btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.work-dropdown-btn:hover {
    background-color: #555;
}

body.dark-mode .work-dropdown-btn {
    background-color: #9b8787;
    color: #fff;
}

body.dark-mode .work-dropdown-btn:hover {
    background-color: #777;
}

/* Description Styles for Work Experience */
.work-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, background-color 0.6s;
    margin-top: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
}

body.dark-mode .work-description {
    background-color: #6e6969;
}

.work-description.expanded {
    max-height: 500px; /* Adjust as needed */
}

/* Skills Section */
.skills-container {
    margin-bottom: 2rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; /* Center the items */
}

.skills-list li {
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0.5rem 0;
    transition: background-color 0.6s;
}

body.dark-mode .skills-list li {
    background-color: #6e6969;
    color: #f9f9f9;
    transition: color 0.6s, background-color 0.6s;
}

.skills-container h3 {
    margin-bottom: 1rem;
}

body.dark-mode .skills-container h3 {
    color: #f9f9f9;
    transition: color 0.6s;
}


/* Projects Section */
.project {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.6s, box-shadow 0.6s;
}

.project h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #333;
    transition: color 0.6s;
}

.project p {
    margin: 0;
    color: #666;
}

/*.project:hover {
    background-color: #e8e8e8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
    */

body.dark-mode .project {
    background-color: #6e6969;
    color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.6s;
}

body.dark-mode .project h3 {
    color: #f9f9f9;
    transition: color 0.6s;
}

body.dark-mode .project p {
    color: #ccc;
    transition: color 0.6s;
}

/*body.dark-mode .project:hover {
    background-color: #5a5a5a;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
}
*/